body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    
}

ul li {
    list-style: none;

}

img {
    height: 150px;
    width: 150px;
}

.contentright>img {
    height: 200px;
    width: 400px;
}

header,
.section1,
.section2,
.section3,
.section4,
footer {
    display: flex;
    width: 100vw;
    flex: 2;
    justify-content: center;

}

.sec1cont,
.sec2cont,
.sec3cont,
.sec4cont,
.headercont,
.footercont {
    display: flex;
    justify-content: center;
    width: 75vw;
    flex-wrap: wrap;
}

.headercont {
    justify-content: space-between;
    align-items: center;
}

.logo {
    flex: 1;
}

.links,
ul,
li {
    display: flex;
    gap: 15px;
}

ul {
    margin: 0;
    padding: 0;

}

.sec1cont {

    justify-content: space-between;
    flex-wrap: wrap;
}

.contentleft {

    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    flex-basis: 50%;
}

.contentright * {
    flex-wrap: wrap;
    flex: 1;
    max-width: 100%;
}

button {
    width: max-content;
    height: max-content;
}

.sec2cont {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.imgs {
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    flex:1;
    justify-content: space-evenly;
    
}
.imgscont{
    display: flex;
    justify-content: space-evenly;
    
}

.text {
    text-align: center;

}

.sec3cont {
    flex-direction: column;
    align-items: center;
}
.sec3contmain{
    flex-direction: column;
    display: flex;
    max-width: 70%;
}
.thor {
    text-align: end;
}

.sec4cont {
    align-items: center;

}
.sec4maincont{
    display: flex;
    flex:1;
    max-width: 75%;
    
}

.text1 {
    display: flex;
    flex-direction: column;
    flex: 1;
    

}
.button{
    display: flex;
    align-items: center;
}
.footercont {
    display: flex;
    align-items: center;
    justify-content: center; 
    
}
header, footer{
    flex: 1;
}